* {  
    padding: 0;
    margin: 0;
   
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tun{
background: url('img/tun.jpg') no-repeat center center /cover;
    color: white;
    transition: 2s;
}

.kun{
    background: url('img/kun.jpg') no-repeat center center /cover;
    color: black;
    transition: 2s;
}